$bluegrey: #607D8B;
$wam_green: #00bfa5;
$wam_pink: #F0566E;
$wam_purple: #AB47BC;

$sd_orange: #ff9e38;
$sd_green: #2fd7b1;
$sd_blue: #333f71;
$sd_grey: #737373;


$sd_error: #F1636C;


$freja_dark: #2D282E;
$freja_light_grey: #BBBBBB;
$freja_accent: #7DBEA8;
$freja_accent_2: #6C3C3A;
$freja_medium_dark: #3F4247;
