// NODE SASS
// node-sass -w scss -o css --output-style compressed

/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   @font-face {
      font-family: 'norse';
      src:  url('../font/norse.woff2') format('woff2'),
            url('../font/norse.woff') format('woff');
    }
   html, body{
     height: 100%;
     font-family: 'Lato', sans-serif;
   }
   h1, h2, h3, h4, h5, h6{
     text-transform: uppercase;
     font-family: 'norse', sans-serif;
     letter-spacing: 8px;
     color: %$freja_light_grey;
   }
   .accent{
     color: $freja_accent
   }
   a{
     color: $freja_accent;
     &:hover{
       color: $freja_accent_2;
     }
   }
// =================== FULLSCREEN VIDEO ================
.video-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
    video{
      position: absolute;
      top: 100%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -webkit-transform: translateX(-50%) translateY(-100%);
              transform: translateX(-50%) translateY(-100%);
    }
    #logo{
      position: absolute;
      z-index: 1;
      width: 25%;
      min-width: 300px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 70%;
      margin: auto;
    }
}

#info-txt{
  height: 460px;
  overflow: scroll;
}
#about{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // @include gradient(darken($freja_dark, 10%), $freja_dark);
  background-image: url(../img/sky.jpg);
  background-size: cover;
  background-position: top left;
  width: 100%;
  display: inline-block;
  padding-bottom: 100px;
  overflow: hidden;
  #plax-1{
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  #plax-2{
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  h1{
    color: white;
    font-weight: 300;
    font-size: 24px;
    position: relative;
    width: 270px;
    margin: 50px auto;
    &:before{
      content: '';
      width: 5%;
      height: 1px;
      border-top: 1px solid $freja_accent;
      // background-color: white;
      position: absolute;
      right: 0;
      top: 10px;
    }
    &:after{
      content: '';
      width: 5%;
      height: 1px;
      border-top: 1px solid $freja_accent;
      // background-color: white;
      position: absolute;
      left: 0;
      top: 10px;
    }
  }
  p{
    color: $freja_dark;
    font-size: 16px;
    &:first-of-type{
      font-size: 16px;
    }
    .firstcharacter {
      color: $freja_accent;
      float: left;
      font-size: 50px;
      line-height: 42px;
      padding-right: 8px;
      font-family: 'norse', sans-serif;
    }
    a{
      text-decoration: none;
    }
  }
}

.offset-full{
  @include gradient($freja_accent, $freja_dark);
  width: 100%;
  display: inline-block;
  margin-top: -5px;
  &#socials-holder{
    padding-bottom: 100px;
  }
  h1{
    color: white;
    font-weight: 300;
    font-size: 24px;
    position: relative;
    width: 320px;
    margin: 50px auto;
    &:before{
      content: '';
      width: 5%;
      height: 1px;
      border-top: 1px solid $freja_medium_dark;
      // background-color: white;
      position: absolute;
      right: 0;
      top: 10px;
    }
    &:after{
      content: '';
      width: 5%;
      height: 1px;
      border-top: 1px solid $freja_medium_dark;
      // background-color: white;
      position: absolute;
      left: 0;
      top: 10px;
    }
  }
  .social-block{
    i{
      color: $freja_light_grey;
      font-size: 60px;
      -webkit-transition: all 0.3s ease;
              transition: all 0.3s ease;
    }
  }
}

nav{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  img{
    width: 100px;
  }
  i{
    margin: 0 10px;
  }
}

#softwares{
  background-color: lighten($freja_medium_dark, 20%);
  padding: 40px 0;
  border-top: 2px solid lighten($freja_dark, 10%);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background-color: $freja_accent;
  border: 0;
}
.owl-theme .owl-dots .owl-dot{
  outline: none;
}
.owl-carousel{
  .owl-item{
    img{
      width: 80%;
      margin: 10px auto;
    }
  }
}

#mc_embed_signup{
  clear:left;
  font:20px 'norse', Helvetica,Arial,sans-serif;

  width:300px;
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -65%;
  margin: auto;
  label{
    color: $freja_accent_2;
  }
  form{
    padding: 0!important;
  }
    #mce-EMAIL{
      width: 60%;
      float: left;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: $freja_accent;
      background-color: transparent;
      outline: none;
      color: black;
    }
    #mc-embedded-subscribe{
      width: 40%;
      float: left;
      &.button{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: $freja_accent;
      }
    }
}

#footer{
  font-size: 10px;
  background-color: $freja_dark;
  color: $freja_light_grey
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
